<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="team.css">
<link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
</head>
<body background="http://subtlepatterns.com/patterns/symphony.png">
	<center>
		<div class="ttl">Our team</div>
	<table>
	<tr>
		<td>
	<div class="member"><a href="/lobna"><img src="http://i.imgur.com/3d6iRxG.png?1" class="imgstyle"></a></div>
		</td>
		<td>
	<div class="member"><a href="/farah"><img src="http://i.imgur.com/rr7ZVI3.png" class="imgstyle"></a></div>
		</td>
		<td>
	<div class="member"><a href="/nirvana"><img src="http://i.imgur.com/Xiw3aRS.png" class="imgstyle"></a></div>
		</td>
	</tr>
	<p>
	<tr>
		<td>
	<div class="member"><a href="/ingy"><img src="http://i.imgur.com/PbeNypA.png?1" class="imgstyle"></a></div>
		</td>
		<td>
	<div class="member"><a href="/nourhan"><img src="http://i.imgur.com/Sbrtg2x.png" class="imgstyle"></a></div>
		</td>
		<td>
	<div class="member"><a href="/nihal"><img src="http://i.imgur.com/3nyjYOx.png" class="imgstyle"></a></div>
		</td>
	</tr>
</table>
</center>
</body>
</html>
